name: C++ Calculator CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Compile calculator
      run: g++ src/calc.cpp -o calc

    - name: Run addition test
      run: echo "5 + 3" | ./calc

    - name: Run subtraction test
      run: echo "5 - 3" | ./calc

