name: C++ Calculator CI with Docker

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  docker-build-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build Docker image
      run: docker build -t calculator .

    - name: Test addition inside Docker
      run: echo "10 + 2" | docker run -i calculator

    - name: Test Subtraction inside Docker
      run: echo "10 - 2" | docker run -i calculator

    - name: Test multiplication inside Docker
      run: echo "10 * 2" | docker run -i calculator

    - name: Test Division inside Docker
      run: echo "10 / 2" | docker run -i calculator
